extends ./layout/layout.pug

block css
    link(rel="stylesheet", href="/css/register.css")

mixin userinfo
    
    div(class="layui-form-item")
        label(class="layui-form-label") 苟账号
        div(class="layui-input-block")
            input(type="text",
                name="username",
                required,
                lay-verify="required",
                placeholder="请输入用户名",
                class="layui-input"
            )
    div(class="layui-form-item")
        label(class="layui-form-label") 苟密码
        div(class="layui-input-inline")
            input(type="password",
                name="password",
                required,
                lay-verify="required",
                placeholder="请输入密码",
                class="layui-input"
            )
        div(class="layui-form-mid layui-word-aux") 请牢记你的密码，否则永远无法找回
        
mixin btn
    div(class="layui-form-item")
            div(class="layui-input-block")
                button(class="layui-btn",
                    lay-submit,
                    lay-filter="formDemo"
                ) 提交信息
                button(type="reset", class="layui-btn layui-btn-primary") 重置注/登

block contents
    div(id="main")
        div(class="layui-container")
            div(class="layui-tab")
                ul(class="layui-tab-title")
                    li(class=show?"":"layui-this")
                        a(href="/user/login") 用户登录
                    li(class=show?"layui-this":"")
                        a(href="/user/reg") 用户注册
                div(class="layui-tab-content")
                    //- 登录
                    div(class="layui-tab-item", class=show?"":"layui-show")
                        form(action="/user/login", 
                            method="post", 
                            class="layui-form"
                        )
                            +userinfo
                            div(class="layui-form-item")
                                div(class="layui-input-block")
                                    +btn
            
                    //- 注册
                    div(class="layui-tab-item", class=show?"layui-show":"")
                        form(action="/user/reg", 
                            method="POST", 
                            class="layui-form"
                        )
                            +userinfo
                            div(class="layui-form-item")
                                label(class="layui-form-label") 确认密码
                                div(class="layui-input-inline")
                                    input(type="password", 
                                        name="confirmPWD", 
                                        required, 
                                        lay-verify="required", 
                                        placeholder="请确认密码",
                                        class="layui-input"
                                    )
                        
                            div(class="layui-form-item")
                                div(class="layui-input-block")
                                    +btn

block script
    script(src="/js/register.js")






